<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="83b03a5b-48ca-4e41-809e-bb9db11f48bc" Publisher="CN=wouter" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FestivalApp</DisplayName>
    <PublisherDisplayName>wouter</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FestivalApp.App">
      <VisualElements DisplayName="FestivalApp" Logo="Assets\smallfesti.png" SmallLogo="Assets\SmallLogo.png" Description="FestivalApp" ForegroundText="light" BackgroundColor="#226CF3">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\festival.png" />
        <SplashScreen Image="Assets\splash.png" BackgroundColor="#226CF3" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>